<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puzzdemic</title>
    <link rel="stylesheet" href="/stylesheets/game-style.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/lib/event-emitter-5.1.0.min.js"></script>
    <script src="/javascripts/url-params.js"></script>
    <script src="/javascripts/game-utils.js"></script>
    <script src="/javascripts/game-grid.js"></script>
    <script src="/javascripts/game-tile.js"></script>
    <script src="/javascripts/game-html-actuator.js"></script>
    <script src="/javascripts/game-input-manager.js"></script>
    <script src="/javascripts/game-manager.js"></script>
    <script src="/javascripts/game-main.js"></script>
  </head>
  <body>
    <div class="modal-overlay"></div>
    <div class="modal-game-waiting">
      <h1>Puzzdemic</h1>
      ゲーム開始まで <span id="player-count">1</span>/4 人
      <div class="loader">Loading...</div>
      <div class="game-start-info"></div>
      <div class="game-start-info2"></div>
      <div class="game-start-info3"></div>
    </div>

    <table style="margin: 0 auto">
      <tr>
        <td>
          <div class="game-panel game-assigned-color">
            <img src="/images/CoolClips_officer.png" alt="Player role" height="50px">
            <span>Officer</span>
            <div class="progress">
              <div class="progress-bar progress-bar-red" role="progressbar"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                100%
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="game-panel game-cured-disease">
            <table>
              <tr>
                <td><img src="" alt="Virus1"></td>
                <td><img src="" alt="Virus2"></td>
                <td><img src="" alt="Virus3"></td>
                <td><img src="" alt="Virus4"></td>
              </tr>
              <tr>
                <td><div class="syring red-syring"></div></td>
                <td><div class="syring blue-syring"></div></td>
                <td><div class="syring yellow-syring"></div></td>
                <td><div class="syring green-syring"></div></td>
              </tr>
            </table>

          </div>
        </td>
      </tr>
    </table>

    <div class="game-panel game-outbreaks">
      <p>OUTBREAKS</p>
      <img src="/images/outbreak.png" alt="" height="50px" width="50px">
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container"></div>

      <div class="tile-removed-container"></div>
    </div>

    <table style="margin: 0 auto">
      <tr>
        <td class="hidden">
          <div class="game-panel game-red-player">
            <img src="/images/CoolClips_officer.png" alt="Player role" height="50px">
            <span>Officer</span>
            <div class="progress">
              <div class="progress-bar progress-bar-red" role="progressbar"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                100%
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="game-panel game-blue-player">
            <img src="/images/CoolClips_doctor.png" alt="Player role" height="50px">
            <span>Doctor</span>
            <div class="progress">
              <div class="progress-bar progress-bar-blue" role="progressbar"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                100%
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="game-panel game-yello-player">
            <img src="/images/CoolClips_researcher.png" alt="Player role" height="50px">
            <span>Researcher</span>
            <div class="progress">
              <div class="progress-bar progress-bar-yellow" role="progressbar"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                100%
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="game-panel game-green-player">
            <img src="/images/CoolClips_scientist.png" alt="Player role" height="50px">
            <span>Scientist</span>
            <div class="progress">
              <div class="progress-bar progress-bar-green" role="progressbar"
              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                100%
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
