<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pandemic</title>
    <link rel="stylesheet" href="/stylesheets/game-style.css">
    <script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/lib/event-emitter-5.1.0.min.js"></script>
    <script src="/javascripts/game-utils.js"></script>
    <script src="/javascripts/game-grid.js"></script>
    <script src="/javascripts/game-tile.js"></script>
    <script src="/javascripts/game-html-actuator.js"></script>
    <script src="/javascripts/game-input-manager.js"></script>
    <script src="/javascripts/game-manager.js"></script>
    <script src="/javascripts/game-main.js"></script>
  </head>
  <body>
    <h1>Pandemic</h1>
    <div class="container">

    </div>
  </body>
</html>
