<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puzzdemic</title>
    <link rel="stylesheet" href="/stylesheets/game-style.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/lib/event-emitter-5.1.0.min.js"></script>
    <script src="/javascripts/url-params.js"></script>
    <script src="/javascripts/game-utils.js"></script>
    <script src="/javascripts/game-grid.js"></script>
    <script src="/javascripts/game-tile.js"></script>
    <script src="/javascripts/game-html-actuator.js"></script>
    <script src="/javascripts/game-html-gadget.js"></script>
    <script src="/javascripts/game-input-manager.js"></script>
    <script src="/javascripts/game-manager.js"></script>
    <script src="/javascripts/game-main.js"></script>
  </head>
  <body>
    <div class="modal-overlay"></div>
    <div class="modal-game-waiting">
      <h1>Puzzdemic</h1>
      ゲーム開始まで <span id="player-count">1</span>/4 人
      <div class="loader">Loading...</div>
      <div class="game-start-info"></div>
      <div class="game-start-info2"></div>
      <div class="game-start-info3"></div>
    </div>

    <table style="margin: 0 auto">
      <td>
        <div id="myGamePanel"></div>
      </td>
      <td>
        <div class="game-panel game-cured-disease">
          <table>
            <td>
              <img src="/images/icon-virus-red.png" alt="Virus1" width="50px">
              <div id="redSyringe" class="syringe red-syringe margin-top--15px hidden"></div>
            </td>
            <td>
              <img src="/images/icon-virus-blue.png" alt="Virus2" width="50px">
              <div id="blueSyringe" class="syringe blue-syringe margin-top--15px hidden"></div>
            </td>
            <td>
              <img src="/images/icon-virus-yellow.png" alt="Virus3" width="50px">
              <div id="yellowSyringe" class="syringe yellow-syringe margin-top--15px hidden"></div>
            </td>
            <td>
              <img src="/images/icon-virus-green.png" alt="Virus4" width="50px">
              <div id="greenSyringe" class="syringe green-syringe margin-top--15px hidden"></div>
            </td>
          </table>
        </div>
      </td>
    </table>

    <div class="game-panel game-outbreaks">
      <p>OUTBREAKS</p>
      <div id="outbreakMarker" class="outbreak-marker outbreak-marker-step0">
        <img src="/images/outbreak.png" alt="" height="50px" width="50px">
      </div>
      <div class="outbreak-steps">
        <div class="diamond"><span class="diamond-inner">0</span></div>
        <div class="diamond"><span class="diamond-inner">1</span></div>
        <div class="diamond"><span class="diamond-inner">2</span></div>
        <div class="diamond"><span class="diamond-inner">3</span></div>
        <div class="diamond"><span class="diamond-inner">4</span></div>
        <div class="diamond"><span class="diamond-inner">5</span></div>
        <div class="diamond"><span class="diamond-inner">6</span></div>
        <div class="diamond"><span class="diamond-inner">7</span></div>
        <div class="diamond"><span class="diamond-inner">8</span></div>
      </div>
    </div>

    <div class="game-panel game-infection-rate">
      <p>INFECTION RATE</p>
      <div id="infectionRateMarker" class="infection-rate-marker infection-rate-marker-step0">
        <img src="/images/infection-rate.png" alt="" height="50px" width="50px">
      </div>
      <div class="infection-rate-steps">
        <div class="circle">0</div>
        <div class="circle">1</div>
        <div class="circle">2</div>
        <div class="circle">3</div>
        <div class="circle">4</div>
        <div class="circle">5</div>
        <div class="circle">6</div>
      </div>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container"></div>

      <div class="tile-removed-container"></div>
    </div>

    <table style="margin: 0 auto">
      <td>
        <div id="redGamePanel" class="game-panel">
          <table>
            <td>
              <img src="/images/CoolClips_officer.png" alt="Player role" height="50px">
              <span>Officer</span>
            </td>
            <td>
              <div class="pack red-pack right-block"></div>
            </td>
            <td>
              <div class="text-center"> x <span id="redPackNum">0</span></div>
            </td>
          </table>
          <div class="progress">
            <div class="progress-bar progress-bar-red" role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
              100%
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="blueGamePanel" class="game-panel">
          <table>
            <td>
              <img src="/images/CoolClips_doctor.png" alt="Player role" height="50px">
              <span>Doctor</span>
            </td>
            <td>
              <div class="pack blue-pack right-block"></div>
            </td>
            <td>
              <div class="text-center"> x <span id="bluePackNum">0</span></div>
            </td>
          </table>
          <div class="progress">
            <div class="progress-bar progress-bar-blue" role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
              100%
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="yellowGamePanel" class="game-panel">
          <table>
            <td>
              <img src="/images/CoolClips_researcher.png" alt="Player role" height="50px">
              <span>Researcher</span>
            </td>
            <td>
              <div class="pack yellow-pack right-block"></div>
            </td>
            <td>
              <div class="text-center"> x <span id="yellowPackNum">0</span></div>
            </td>
          </table>
          <div class="progress">
            <div class="progress-bar progress-bar-yellow" role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
              100%
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="greenGamePanel" class="game-panel">
          <table>
            <td>
              <img src="/images/CoolClips_scientist.png" alt="Player role" height="50px">
              <span>Scientist</span>
            </td>
            <td>
              <div class="pack green-pack right-block"></div>
            </td>
            <td>
              <div class="text-center"> x <span id="greenPackNum">0</span></div>
            </td>
          </table>
          <div class="progress">
            <div class="progress-bar progress-bar-green" role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
              100%
            </div>
          </div>
        </div>
      </td>
    </table>
  </body>
</html>
